
<section id="center" class="center_o pt-3 pb-3 bg_light1">
    <div class="container-xl">
        <div class="row center_h1">
            <div class="col-md-12">
                <ul class="mb-0">
                    <li class="d-inline-block font_13 col_light me-2"><a class="pe-1" routerLink="/">Trang chủ</a> |</li>
                    <li class="d-inline-block col_oran font_13">Liên hệ</li>
                </ul>
            </div>
        </div>

    </div>
</section>
<hr>

<hr>
<section id="contact">
    <div class="container">

        <div class="connect_1 row">
            <div class="col-md-3 connect_1m">
                <div class="connect_1l">
                    <span class="col_oran"><i class="fa fa-map-marker"></i></span>
                </div>
                <div class="connect_1r">
                    <h5>Địa chỉ cửa hàng:</h5>
                    <p class="mb-0">Địa chỉ: đội 5, Vĩnh Khúc, Văn Giang, Hưng Yên</p>
                </div>
            </div>
            <div class="col-md-3 connect_1m">
                <div class="connect_1l">
                    <span class="col_oran"><i class="fa fa-phone"></i></span>
                </div>
                <div class="connect_1r">
                    <h5>hỗ trợ 24/7</h5>
                    <p class="mb-0">Liên hệ công việc: <br>  (0) 35 696 4919 </p>
                </div>
            </div>
            <div class="col-md-3 connect_1m">
                <div class="connect_1l">
                    <span class="col_oran"><i class="fa fa-envelope"></i></span>
                </div>
                <div class="connect_1r">
                    <h5>Email:</h5>
                    <p class="mb-0"> nhunaoker1@gmail.com</p>
                </div>
            </div>
            <div class="col-md-3 connect_1m border-0">
                <div class="connect_1l">
                    <span class="col_oran"><i class="fa fa-clock-o"></i></span>
                </div>
                <div class="connect_1r">
                    <h5>Giờ mở cửa:</h5>
                    <p class="mb-0">Thứ hai - Thứ bảy 10.00am - 4.00pm. Chủ nhật 11.00 - 3.00pm</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>