
<div class="container">
    
<form action="" method="POST" class="form-inline mt-2 mb-2">
    <button routerLink="/admin" style="width: 40px; height: 40px; border-radius: 50%; 
              margin-right: 20px; background-color: white;" >
              <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
              </button>
        <a routerLink="/loai/them" class="btn btn-success" >Thêm mới</a>
    </form>
    <input type="text" style="text-align: center; border: 1px solid; height:  45px; margin-left: 40%;" [(ngModel)]="term" placeholder="tìm kiếm gì đó">
    <table class="table table-bordered">
        <thead style="background-color: #8696FE;">
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên Thể Loại</th>
                <th>Mô tả</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of Loai|filter:term  
            |paginate: { itemsPerPage: 4, currentPage: p };let i=index">
                <td>{{i+1}}</td>
                <td>{{l.matl}}</td>
                <td>{{l.tentl}}</td>
                <td>{{l.mota}}</td>
                <td>
                    <a routerLink="/loai/sua/{{l.matl}}" class="btn btn-sm btn-primary mr-2">Edit</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-danger" (click)="onDelete(l.matl)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>
